<html>
<head>
   <meta charset="UTF-8" />
</head>
<body>
    <form action="/musics" method="POST">
    <table>
        <tr>
            <td>title</td><td><input type="text" id="title" name="title"/></td>
        </tr>
        <tr>
            <td>artist</td><td><input type="text" id="artist" name="artist"/></td>
        </tr>
        <tr>
            <td>genre</td><td><input type="text" id="genre" name="genre"/></td>
        </tr>
        <tr>
            <td>url</td><td><input type="text" id="url" name="url"/></td>
        </tr>
        <tr>
            <td>album</td><td><input type="text" id="albumName" name="albumName"/></td>
        </tr>
        <tr><td colspan="3"><button type="submit">작성</button></td></tr>
    </table>
    </form>
</body>
</html>